#header{
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gray;
    background: linear-gradient(45deg, rgb(207, 76, 174), #9A3FD5);
    padding: 0;
    margin: 0;
    z-index: 1000;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    background-color: gray;
    margin: 0;
}
.t2{
    font-size: 20px;
}
#header img{
    height: 60px;
    width: 100px;
    margin: 5px;
}
#header a{
    color: #FFFC00;
    text-decoration: none;
}
#profile{
    position: relative;
    float: right;
    right: 50px;
    
}
#profile li{
    display: inline-block;
    margin: 0px 10px 5px 0px;
}
#profile li:first-child{
    display: block;
    margin:0px;
}
#main{
    display: block;
    position: relative;
    width: 70%;
    top: 70px;
    margin: auto auto;
    height: 100vh;
    background-color: white;
}
#main>.t1{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.file{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid darkgray;
}
.file .title{
    display: inline-block;
    width: 150px;

}
/*Post page*/
#message{
    width: 80%;
    height: auto;
    margin: auto auto;
    text-align: left;
    border: 1px solid gray;
}
#date,#author{
    float: right;
}
#author{
    padding-right: 30px;
}
.files{
    padding: 0px 5px 5px 0px;
}